* {
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #222;
  padding-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav1 {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.nav1 ul {
  padding-top: 40px;
  font-size: 24px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: right;
}

.nav1 a {
  color: rgb(199, 196, 196);
  text-decoration: none;
  padding: 9px;
  transition: all 0.3s ease-in-out;
}

.nav1.active {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.logo {
  text-align: center;
  justify-content: space-around;
  width: 100%;
  display: flex;
  text-shadow: 1px 1px rgb(116, 114, 114);
}
.nav1.active a {
  color: black;
}

.nav1.active .container {
  padding: 10px 0;
}

.nav1 a.current,
.nav1 a:hover {
  color: #c0392b;
  font-weight: bold;
}

.offcanvas {
  background: rgba(255, 255, 255, 0.185);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.52);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.082);
}
.offcanvas-title {
  text-shadow: 1px 1px rgb(230, 230, 230);
  color: #3f3e3e;
  margin: auto;
}
.navbar-brand {
  width: 100%;
  border-radius: 2px;
  background-color: rgb(223, 222, 222);
}
.foto {
  background: linear-gradient(
      rgba(54, 53, 53, 0.157),
      rgba(0, 0, 0, 0.383) 100%
    ),
    url(sidney.jfif);
  background-size: cover;
  border-radius: 50%;
  border: solid #c7c7c7;
  text-shadow: 1px 1px rgb(0, 0, 0);
  padding: 10px 15px;
  width: 90px;
  height: 90px;
}

.hero {
  /* 'https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' */
  background: linear-gradient(rgba(54, 53, 53, 0.7), rgba(0, 0, 0, 0.5) 100%),
    url(07.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.hero::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero h1 {
  text-shadow: 3px 3px rgb(0, 0, 0);
  color: #c0392b;
  font-size: 86px;
  margin: -20px 0 20px;
}

.hero p {
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2 {
  font-size: 150%;
  margin: 70px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: center;
}
.spanparagrafo {
  color: #ec1f09;
  font-size: 20px;
}

/* inicio da aba experiência  carrosel */

.pgbr-carrousel-item {
  /* background  : linear-gradient(rgba(54, 53, 53, 0.50), rgba(0, 0, 0, .50)100%); */
}
.carousel-inner {
}
.opacidade {
  background-color: rgba(0, 0, 0, 0.37);
  text-align: center;
  top: 15px;
  /* overflow-y: scroll; */
}
.carousel-caption h2 {
  color: #c0392b;
  background-color: rgba(133, 133, 133, 0.692);
  text-shadow: 1px 1px rgb(0, 0, 0);
  padding: 10px;
}
.carousel-caption p {
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
.datas {
  color: rgb(24, 151, 7);
  font-size: 20px;
}

/* inicio da aba tecnologia */

#tecnologias {
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.title {
  margin: 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 1;
}

.bloco {
  background-color: #294ec8;
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
  padding: 30px 20px;
  margin-left: -12px;
  margin-right: -12px;
}

.bloco input {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50px;
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.bloco input:focus {
  outline: none;
}

.user-list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  max-height: 400px;
  overflow-y: auto;
  padding: 0;
}

.user-list li {
  display: flex;
  padding: 20px;
}
.user-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.user-list .user-info {
  margin-left: 10px;
}

.user-list .user-info h4 {
  margin: 0 0 10px;
}

.user-list .user-info p {
  font-size: 12px;
}

.user-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.user-list li.hide {
  display: none;
}

/* valores */

.valores {
  background-color: #cac8c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  overflow-x: hidden;
}

.box {
  background-color: rgb(60, 60, 63);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 45px;
  text-align: center;
}

.btn{
 height: 100%;
 width: 100%;
}
