* {
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #222;
  padding-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav1 {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.nav1 ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: right;
}

.nav1 a {
  color: #fff;
  text-decoration: none;
  padding: 7px;
  transition: all 0.3s ease-in-out;
}

.nav1.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.logo {
  text-align: center;
  justify-content: space-around;
  width: 100%;
  display: flex;
  text-shadow: 1px 1px rgb(116, 114, 114);
}
.nav1.active a {
  color: black;
}

.nav1.active .container {
  padding: 10px 0;
}

.nav1 a.current,
.nav1 a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  /* 'https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' */
  background: linear-gradient(rgba(54, 53, 53, 0.7), rgba(0, 0, 0, 0.5) 100%),
    url(07.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}
.hero::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero h1 {
  text-shadow: 3px 3px rgb(0, 0, 0);
  color: #c0392b;
  font-size: 86px;
  margin: -20px 0 20px;
}

.hero p {
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2 {
  font-size: 150%;
  margin: 10px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}
.spanparagrafo {
  color: #ec1f09;
  font-size: 20px;
}
.pgbr-carrousel-item {
  height: 450px;
  
  /* background  : linear-gradient(rgba(54, 53, 53, 0.50), rgba(0, 0, 0, .50)100%),;  */
}

/* .opacidade{ 
  background-color: rgba(0, 0, 0, 0.692);
  text-align: center;
  top:15px;
}
*/


